*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.box1{
    width: 100%;
    height: 380px;
    background: url(images/leptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}
.box1 p, h3{
    background-color: rgba(255, 255, 255, 0.3 );   
    width: 20%;
    height: auto;
    padding: 1%;
    margin-left: 60%;;
    position: relative;
}
.box1 h3{
    color: blue;
    margin-top: -110%;

}
.box1 h1{
    color: white;
    margin-top: -65%;
    padding: 5%;
}
.box1 ul{
    width: 15%;
    height: 1550px;
    background-color: rgba(0,0,0,0.7);
    text-decoration: none;
    padding-top: 15%;
    
}
.box1 li{
    padding: 3% 20% ;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 5%;

}
.box1 a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.box1 h1{
    text-transform: uppercase;
    border: 2px white solid;
    border-radius: 3%;
    text-align: center;
    padding-top: 2%;
}
.box1 .fa{
    padding: 15% 3%;
    padding-bottom: 0%;
    padding-left: 10%;
    color: white;
}
.box1 h5{
    color: white;
    padding-left: 4%;
    padding-top: 3%;
}

#page2{
    width: 100%;
}

.box2 h2{
    width: 30%;
    padding-left: 20%;
    padding-top: 30%;
    display: flex;
    flex-direction: row;
    color: blue;
}
.box2 p{
    width: 40%;
    padding-left: 20%;
    float: left;
}
.box2 h3{
    margin-top: -8%;
    font-size: 23px;
    color: blue;
}
#page3{
    width: 80%;
    height: auto;
    padding-left: 20%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;

}
.box3{
    width: 100%;
}
.box3 h4{
    width: 100%;
    height: auto;
   font-size: 20px;
   padding: 5px; 
}
.box3 img{
    width: 20%;
    height: 150px;
    margin-left: 3%;
    padding: 5px 10px;
}
.box4{
    padding-left: 20%;
    width: 80%;
}
.box4 h4{
    font-size: 20px;
    color: blue;
    padding-top: 3%;
}
.box4 p{
    padding-top: 2%;
}
.b1 {
    width: 50%;
    padding: 1%;
    margin-top: 3%;

}
.b1 h2{
    padding: 15px;
    color: blue;
}
.b1 p{
    padding: 15px;
}
.b2{
    width: 30%;
    padding: 1%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: solid 1px black;
}
textarea{
    width: 30%;
    margin-top: 3%;
    padding: 5px;
    padding-top: 2%;
    border: none;
    border-bottom: solid 1px black;
}
.btn{
    padding: 3px;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 2%;
}